/* General Body and Link Styles */
body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

div.project-links a, div.contact-me a {
    width: 98.5%;
}

h3 {
    font-size: 18px;
}

div.contact-me {
    padding-bottom: 24px;

}

/* Sidebar and Navigation Styles */
nav#mySidebar {
    z-index: 3;
    width: 250px;
}

#myOverlay {
    cursor: pointer;
}

.w3-bar-block .w3-bar-item {
    padding: 16px;
    font-weight: bold;
}

ul.w3-leftbar {
    list-style: none;
}

div.w3-main {
    margin-left: 250px;
}

/* Header and Footer Styles */
header {
    padding: 48px 32px !important;
}

header .w3-hide-small {
    padding: 16px 32px !important;
}

footer {
    padding: 32px !important;
}

/* Image and Layout Styles */
div.w3-third a {
    width: 100%;
}

img.w3-circle {
    width: 100%;
}

/* List Styles */
.bullet-icon {
    width: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    .paddingless-small {
        padding: 0px;
    }
}