<footer class="w3-container w3-green w3-center w3-xlarge">
  <a href="https://github.com/lefkovitzj" target="_blank" aria-label="GitHub Account"><i class="fa fa-github-square w3-hover-opacity"></i></a>&nbsp;|&nbsp;
  <a href="mailto:contact@lefkovitzj.com" aria-label="Email Address"><i class="fa fa-envelope-square w3-hover-opacity"></i></a>&nbsp;|&nbsp;
  <a href="https://www.linkedin.com/in/joseph-lefkovitz/" target="_blank" aria-label="LinkedIn Account"><i class="fa-brands fa-square-linkedin w3-hover-opacity"></i></a>
  <p class="w3-medium">Copyright &copy; 2026 by Joseph Lefkovitz. Updated: January 2026</p>
</footer>