<head>
    <!-- Google Tag Manager -->
        <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MTDSVS82');
        </script>
    <!-- End Google Tag Manager -->
    <title>{{ page.title }} | Joseph Lefkovitz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Image preload -->
    <link rel="preload" href="/images/profile.jpg" as="image" media="(width > 992px)" />

    <!-- Load needed CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-dark-grey.css">
    <link rel="stylesheet" href="/css/base.css">

    <!-- Load needed JS -->
    <script src="/javascript/navigation.js"></script>
    <script src="/javascript/typewriter.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="/images/josephl.ico">
</head>