<nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card w3-theme" id="mySidebar">

  <a class="w3-bar-item w3-button w3-large w3-hover-theme" style="padding-bottom:0px;" href="/">
        <img src="/images/profile.jpg" class="w3-circle" alt="my professional headshot photo" style="width:218px">
        <p style="margin-top:18px;margin-bottom:4px;font-size: 20px;">Joseph Lefkovitz</p>      
  </a>

  <div class="w3-bar-item w3-xlarge" style="padding-top: 4px;font-weight: normal;">
  <a href="mailto:contact@lefkovitzj.com" aria-label="Email Address"><i class="fa fa-envelope-square w3-hover-opacity"></i></a>&nbsp;&nbsp;
  <a href="https://github.com/lefkovitzj" target="_blank" aria-label="GitHub Account"><i class="fa fa-github-square w3-hover-opacity"></i></a>&nbsp;&nbsp;
  <a href="https://www.linkedin.com/in/joseph-lefkovitz/" target="_blank" aria-label="LinkedIn Account"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  
  </div>
  <button class="w3-bar-item w3-button w3-hide-large w3-large" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
  <a class="w3-bar-item w3-button w3-green w3-hover-light-green" href="/">Home</a>
  <a class="w3-bar-item w3-button w3-hover-light-green" href="/projects">Projects</a>
  <a class="w3-bar-item w3-button w3-hover-light-green" href="https://github.com/lefkovitzj" target="_blank">GitHub</a>
</nav>

<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" id="myOverlay"></div>